@import 'palette.sass';

*{
  -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;

}
body {
  background: #fafafa;
  font-family: 'roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[drawer] {
  background-color: #EEEEEE;
}

core-toolbar {
  color: #FAFAFA;
  background: #607d8b;
  background-position: center;
  background-size: cover;
  transform: translate3d(0px, 0px, 0px);
}
core-toolbar.tall{
  background:green url("../images/DnDFanSiteKit/ToDKeyArt3.jpg");
  background-position: center;
  background-size: cover;
}
.mainAdd{
  position:absolute;
  bottom:2em;
  right:2em;
}
.versionInfo{

}
.characterCard{
  border:1px solid $primary-color-light;
  height:300px;
  width:300px;
  &:hover{
    border-color:$accent-color;
  }
}
